/H2OInteractions/build/
/WriteToFileExample/nbproject/private/
/readtoconsoleexample/nbproject/private/
/readtoconsoleexample/build/
.DS_Store
/testCircles/nbproject/private/
/testCircles/build/
/Distance/nbproject/private/
/Distance/build/
/H2OInteractions/dist/